* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #fff;

  overflow-x: hidden;
}
.container {
  /* 1140px */
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section-hero {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(img/hero.jpg);
  background-size: cover;
  color: #fff;
}
.logo {
  height: 4.2rem;
  filter: contrast(0);
  opacity: 99%;
}
.header-basic {
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.4);
  background-color: #0707072f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7rem;
  padding: 0 30px;
}
.main-nav-list {
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav-link:link .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: none;
  background-color: rgb(236, 236, 17);
  border-radius: 50%;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  padding: 1.2rem 3.4rem;
  color: #fff;
}
.social-link {
  padding: 1rem;
  color: rgb(236, 236, 17);
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  font-family: "YesevaOne";
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.decor {
  margin-left: 23rem;
}
/* BOTTOM */

.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.702);
  opacity: 1;
  text-decoration: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
}
.btn--full:link,
.btn--full:visited {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.278);
  opacity: 1;
  text-decoration: none;
  position: relative;
}
.margin-right {
  margin-right: 5rem !important;
}
.btn2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
